// SECTION
.sectionFirst {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px;
  background-color: $section-bg;
  border-radius: 10px;
}

.content-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $white;
  }

  &-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $white;
    text-align: justify;
  }

  & footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    & h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $white;
    }
  }
}
