// SETUP PROJ

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $base-color;

}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


.main-content {
  width: 100%;
  overflow: hidden;

  & > main {
    transition: 1s ease-in-out;
  }
}

.account-content {
}