@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import 'scss/var';
@import 'scss/startup';

@import 'scss/nav';
@import 'scss/header';
@import 'scss/firstSection';
@import 'scss/controlPanel';
@import 'scss/cards';
@import 'scss/userCard';

.content__wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  & > section {
    flex: 1 0 100%;
    transition: 1s ease-in-out;
  }

  & .account-content {
    transform: translateX(-200%);
  }
}

.menu__item.active h1, .menu__item.active > div > .nav-icon{
  color: white;
}